.container {
  font-size: 24px;
}

.contact {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.contact:not(:last-child) {
  margin-bottom: 15px;
}

.button__delete {
  color: rgb(212, 16, 16);
  border-color: rgb(212, 16, 16);
}

.button__delete:hover,
.button__delete:active {
  background-color: rgb(212, 16, 16);
  border-color: rgb(212, 16, 16);
}
