.container {
  display: inline-block;
  width: 350px;
  padding: 20px;
  margin-bottom: 30px;

  font-size: 24px;
  border: 1px solid rgb(27, 27, 27);
}

.form__title {
  display: block;
}

.input__form {
  display: block;
  width: 300px;

  margin-bottom: 15px;
  padding: 5px;
}

.bg__light {
  border: 1px solid black;
  margin-bottom: 15px;
}

.button {
  color: rgb(240, 224, 224);
  background-color: rgb(14, 153, 233);
  border: 1px solid rgb(14, 153, 233);
}

.button:hover,
.button:active {
  color: rgb(240, 224, 224);
  background-color: rgb(16, 101, 199);
  border: 1px solid rgb(16, 101, 199);
}
