.container {
  margin-left: auto;
}

.text {
  font-size: 24px;
  font-weight: 700;
  margin-right: 30px;
}

.button {
  padding: 6px 10px;
  font-size: 18px;
  cursor: pointer;
  background: rgb(240, 224, 224);
  color: rgb(8, 8, 8);
  border-radius: 5px;
  border: 1px solid rgb(27, 27, 27);
}

.button:hover,
.button:active {
  color: rgb(240, 224, 224);
  background-color: rgb(210, 15, 15);
}
